<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.hrm.attendance.mapper.AttClockRecordMapper">

    <select id="selectByEmployeeAndDate" resultType="com.company.hrm.attendance.entity.AttClockRecord">
        SELECT * FROM att_clock_record
        WHERE employee_id = #{employeeId}
        AND DATE(work_date) = #{workDate}
        AND is_valid = 1
        ORDER BY clock_time ASC
    </select>

</mapper>